body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdownButton {
  border: none;
  outline: 0;
  padding: 10px 20px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

#dropdownButton:hover {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
}

.dropdown-content label {
  margin: 10px 0 5px;
}

.dropdown-content input {
  padding: 5px;
  margin-bottom: 10px;
}

#saveButton {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

#saveButton:hover {
  background-color: #555;
}
